.tablero{
  padding:0 20% 5% 20%;
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  align-items: baseline;
}
.casilla{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: aliceblue;
  margin: auto;
  border: 5px solid;
  border-color: transparent;
}
.red{
  background-color: red;
  
  
}
.yellow{
  background-color: yellow;
}
.columna{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}
.border{
  border-color: rgb(0, 255, 0);
}